#### find the hypothenuse of a right triangle with sides; a = 5, b = 12
#### bir kenarÄ± 5 diÄŸer kenarÄ± 12 olan dik Ã¼Ã§genin hipotenÃ¼sÃ¼nÃ¼ bulan python kodunu yazÄ±n.

In [3]:
a = 5
b = 12
c = (a ** 2 + b ** 2) ** 0.5
print("The hypothenuse of the given triangle is:", c)

The hypothenuse of the given triangle is: 13.0

In [4]:
a = 5
b = 12
c = (a ** 2 + b ** 2) ** 0.5
print("The hypothenuse of the given triangle is:", int(c))

The hypothenuse of the given triangle is: 13

In [6]:
a = 5
b = 12
d = (a ** 2 + b ** 2) ** (1/2)
print("The hypothenuse of the given triangle is:", d)

The hypothenuse of the given triangle is: 13.0

### Arithmetic operations on variables

In [ ]:
float(22//7)

In [1]:
22//7

3

In [7]:
x = 5

In [9]:
x = x + 6

In [10]:
x

11

In [27]:
x += 6

In [28]:
x

5

In [21]:
x -= 6

In [22]:
x

-13

In [47]:
x

0.0

In [49]:
x = 5

In [50]:
x = x * 5

In [51]:
x

25

In [53]:
x *= 5

In [54]:
x

625

In [58]:
x /= 5

In [59]:
x

5.0

In [63]:
x = 25

In [61]:
x = x // 4

In [62]:
x

6

In [64]:
x //= 4

In [68]:
x

4

In [70]:
x += 4

In [71]:
x

12

In [72]:
x =+ 4

In [74]:
x

4

In [77]:
x *= 3

In [78]:
x

36

### print() function.

##### sep = " "; separator

In [79]:
print("New Year")

New Year

In [80]:
print("Happy", "New", "Year")

Happy New Year

In [81]:
print("I","am",25,"years old")

I am 25 years old

In [82]:
print("I","am","an","instructor",sep="")

Iamaninstructor

In [83]:
print("I","am","an","instructor",sep="*")

I*am*an*instructor

In [89]:
print("I","am","an","instructor",sep=None) 
# whenever writing None for separator, don't take any separator from outside, give the default one

I am an instructor

In [90]:
print("I","am","an","instructor", sep="")

Iamaninstructor

In [91]:
print("I",    "am",    "an",    "instructor")

I am an instructor

In [92]:
print("I","am","an","instructor", sep="   ")

I   am   an   instructor

In [93]:
print("I","am","an","instructor", sep="_and_")

I_and_am_and_an_and_instructor

In [94]:
print("Ali", "Ã–mer", "Yusuf",sep= "\U0001F600")

AliðŸ˜€Ã–merðŸ˜€Yusuf

In [95]:
print("I","am","an","instructor", sep=",")

I,am,an,instructor

In [98]:
print("I","am","an","instructor", sep=,)

SyntaxError: invalid syntax (2444808869.py, line 1)

In [104]:
# \n means new line
print("I","am","an","instructor", sep="\n")

I
am
an
instructor

In [99]:
print()

In [100]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##### end = "\n",

In [101]:
# \n means new line

In [102]:
print("Samet")
print("Sinan")

Samet
Sinan

In [103]:
print("Samet", end=" ")
print("Sinan")

Samet Sinan

In [105]:
print("Samet", end="*")
print("Sinan")

Samet*Sinan

In [106]:
print("Samet is an active classmate", end="*")
print("Sinan")

Samet is an active classmate*Sinan

In [107]:
print("Hope today's session","is not confusing", end="*")
print("Thanks")

Hope today's session is not confusing*Thanks

In [109]:
print("Elnur")
print("Ekrem")
print("Nigina")

Elnur
Ekrem
Nigina

In [110]:
print("Fatima", end = "@")
print("Jalil", end="!")
print("Manel", end="#")

Fatima@Jalil!Manel#

In [111]:
print("hello world", end = "--")
print("35", 40, "75", sep = "**")
print("The end")

hello world--35**40**75
The end

### input() function

In [114]:
input() # takes any data as string input

'salam'

In [115]:
input("Please provide an input")

'32'

In [117]:
input("What is your date of birth?")

'25 April'

In [118]:
customer_dob = input("What is your date of birth?")

In [119]:
customer_dob

'april 23'

In [121]:
customer_age = input("How old are you?")

In [122]:
customer_age

'65'

In [130]:
print("Welcome to year_of_birth program!!!")
age = int(input("How old are you"))
year_o_b = 2024 - age
print("Based on your age, your year_of_birth is:", year_o_b)

Welcome to year_of_birth program!!!
Based on your age, your year_of_birth is: 1999

In [131]:
print("Welcome to year_of_birth program!!!")
age = int(input("How old are you"))
year_o_b = 2024 - age
print("Based on your age, your year_of_birth is:year_o_b")

Welcome to year_of_birth program!!!
Based on your age, your year_of_birth is:year_o_b

In [134]:
input("How old are you")

'fifty seven'

In [133]:
int(input("How old are you"))

ValueError: invalid literal for int() with base 10: 'fifty four'

In [135]:
input()

'False'

In [136]:
input()

'4.23'

In [138]:
age_1 = input("How old are you? Please write in numericals!!")

In [139]:
age_1

'26'

In [141]:
2024 - int(age_1)

1998

In [143]:
age_2 = input("How old are you?")
age_2 = int(age_2)
print(age_2)
print(type(age_2))

64
<class 'int'>

In [145]:
age_3 = int(input("What is your year of birth?"))

In [146]:
age_3

24

In [147]:
type(age_3)

int